/* Application wide styles */

.button:hover {
    -fx-background-color: fuchsia;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: blue;
}

.button:pressed {
    -fx-background-color: silver;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

.button:focused {
    -fx-background-color: olive;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: aqua;
}

.button:disabled{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: maroon;
}